@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/SourceSans3-ExtraLight.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/SourceSans3-ExtraLightIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/SourceSans3-Light.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/SourceSans3-LightIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSans3-Regular.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/SourceSans3-It.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/SourceSans3-Medium.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/SourceSans3-MediumIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SourceSans3-Semibold.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/SourceSans3-SemiboldIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SourceSans3-Bold.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/SourceSans3-BoldIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/SourceSans3-Black.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/SourceSans3-BlackIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/SourceSerif4-ExtraLight.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/SourceSerif4-ExtraLightIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/SourceSerif4-Light.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/SourceSerif4-LightIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSerif4-Regular.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/SourceSerif4-It.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SourceSerif4-Semibold.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/SourceSerif4-SemiboldIt.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/MozillaHeadline-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/MozillaHeadline-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/MozillaHeadline-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/MozillaHeadline-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MozillaHeadline-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/MozillaHeadline-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/MozillaHeadline-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/MozillaHeadline-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/MozillaHeadline-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Mozilla Headline';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/MozillaHeadline-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IBMPlexMono-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/IBMPlexMono-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IBMPlexMono-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/IBMPlexMono-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/IBMPlexMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/IBMPlexMono-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/IBMPlexMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/IBMPlexMono-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2');
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Montserrat-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Montserrat-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2');
}