:root {
    --base-padding: 5rem;
    --article-width: calc(60ch + var(--base-padding) * 2);
    --accent-color: #ec0047;
    --bg-color: #fafafa;
    --text-color: #222222;
    --border-color: #22222234;
    --border: 1px solid var(--border-color);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 1.25rem/1.625 'Source Serif 4', serif;
    background: var(--bg-color);
    color: var(--text-color);
}

article {
    margin: 35vh auto;
    padding: 1rem var(--base-padding);
    width: 100%;
    max-width: var(--article-width);
    background-color: var(--bg-color);

    header {
        img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;

            margin: 1rem auto;
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }
    }
}

header {
    margin: 2.5rem auto;
    width: 100%;
    max-width: var(--article-width);

    nav {
        font: 400 1.0rem/1.75 'Source Sans 3', sans-serif;
        margin: 3.5rem auto;
        padding: 0 1.5rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: start;

        a {
            text-decoration: none;
            padding: 0 0.75rem;
            color: #ffffff;
            background-color: #222222;
            border: 0.125rem solid #222222;
            box-shadow: 0.125rem 0.125rem 0 #22222249;

            &:hover {
                background: none;
                box-shadow: none;
                border: 0.125rem solid var(--accent-color);
            }
        }
    }


    p {
        margin: 0 calc(var(--base-padding) * -1);
        padding: 1rem var(--base-padding);
        background-color: var(--summary-bg-color)
    }
}

section {
    margin: 2.5rem auto;
}

p {
    margin: 0 0 1.75rem;
}

h1 {
    margin: 1.5rem auto;
    font: 400 5rem/1.2 'Mozilla Headline', sans-serif;
}

h2 {
    margin: 1rem auto;
    font: 400 2.5rem/1.4 'Mozilla Headline', sans-serif;
    letter-spacing: 0;
    border-bottom: 1px solid var(--border-color);
}

h3 {
    letter-spacing: 0.0125em;
    font: 400 1.125rem/1.625 'Mozilla Headline', sans-serif;
}

blockquote {
    margin: 1.75rem 0;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    color: #08787c;
    text-align: center;
}

ol,
ul {
    list-style-position: outside;
    padding-left: 1em;
}

cite {
    font: inherit;
    font-style: italic;

    &::before {
        content: "— "
    }
}

a {
    transition: all .1s ease;

    /* for safari */
    /*word-break: break-word;*/

    &:hover {
        color: var(--accent-color);
        text-decoration: none;
    }
}

video {
    width: 100%;
}

.gallery {
    --gallery-item-min-width: 16rem;
    --img-aspect: 16/9;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--gallery-item-min-width), 1fr));
    grid-auto-rows: auto;
    grid-gap: 0.5rem;

    img {
        margin: 0;
        padding: 0;
        width: 100%;
        aspect-ratio: var(--img-aspect);
        object-fit: cover;
    }
}

.navbar {
    --header-bg-color: var(--text-color);
    --header-font-color: #ffffff;
    --header-border-color: #ffffff34;
    --header-border: none;
    /*1px solid var(--header-border-color);*/
    --hover-color: var(--accent-color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--header-bg-color);
    color: var(--header-font-color);

    border-bottom: var(--header-border);
    z-index: 100;

    a {
        padding: 0.125rem 0;
        color: inherit;
        transition: all .1s ease;

        &:hover {
            color: var(--accent-color);
            text-decoration: none;
        }

        &::before {
            font-family: "Source Sans 3", sans-serif;
            content: "→\00a0";
        }
    }


    .header-container {
        margin: 0 auto;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 48rem) {
            flex-direction: column;

            a:first-child {
                border-left: none;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 2.375rem 2rem 0.875rem;
            font: 400 1.25rem/1 'Source Sans 3', sans-serif;
            letter-spacing: 0;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
                color: inherit;
            }

            @media (max-width: 48rem) {
                padding: 1rem 0.5rem 1rem;
                margin: 0 auto;
                width: 100%;
                border-bottom: var(--header-border);
            }
        }

        nav {
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            gap: 0;

            @media (max-width: 48rem) {
                width: 100%;
            }

            a {
                padding: 2.5rem 1.5rem 1rem;
                border-left: var(--header-border);

                font: 400 1.0rem/1 'Source Sans 3', sans-serif;
                letter-spacing: 0.035em;
                text-decoration: none;
                text-align: center;

                @media (max-width: 48rem) {
                    padding: 1rem 1.5rem 1rem;
                }
            }
        }
    }
}