:root {
    --base-width: 43rem;
    --accent-color: #d6004c;
    --bg-color: #f1f1f1;
    --text-color: #222222;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 1.0rem/1.6 'Source Sans 3', sans-serif;
    letter-spacing: 0.035rem;
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    margin: 3.5rem auto;
    padding: 0 1.5rem;
    width: 100%;
    scroll-margin: 2rem;

    &>* {
        max-width: var(--base-width);
        margin: 0 auto;
    }
}

#hero {
    margin-top: 6rem;
}

h1 {
    margin: 2.5rem auto;
    font: inherit;
    font-size: 2.0rem;
    letter-spacing: -0.0125em;
}

h2 {
    margin: 1rem auto;
    font: inherit;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--text-color);
}

h3 {
    margin: 0 auto;
    font: inherit;
    font-weight: 500;
}


p {
    margin: 0 auto 1rem;
}

a {
    padding: 0.125rem 0;
    color: inherit;
    transition: all .1s ease;

    &:hover {
        color: var(--accent-color);
    }

    &::before {
        content: "→\00a0";
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 0.5rem 1.5rem;
}

.backarrow {
    &::before {
        content: "←\00a0";
    }
}

.content {
    margin-bottom: 6rem;
}

.logo {
    display: block;
    padding: 0.25rem 0.5rem;
    font: 600 1.25rem/1.4 'Source Sans 3', sans-serif;
    letter-spacing: 0;
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }

    &::before {
        content: none;
    }
}

footer {
    margin: 0 auto;
    padding: 6rem 2rem;

    background-color: #222222;
    color: #ffffff;

    text-align: center;

    font: 400 1.0rem/1.6 'Source Sans 3', sans-serif;
    letter-spacing: 0.035rem;

    h2 {
        font-size: 1.0rem;
        margin: 2rem auto 1.25rem;
        border: none;
        text-transform: none;

        &::before {
            content: none;
        }
    }

    a {
        font-size: 0.875rem;

        &::before {
            content: none;
        }
    }

    address {
        display: inline-block;
        font-size: 0.875rem;
        font-style: normal;
    }
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.875rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--text-color);

    &:hover {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
    }

    &::before {
        content: none;
    }

    &::after {
        content: "\00a0→";
    }
}

.transition {
    height: 6rem;
    background: linear-gradient(180deg, #d6004c 20%, #bc0e59 20%, #bc0e59 40%, #a21163 40%, #a21163 60%, #890c6b 60%, #890c6b 80%, #720071 80%);
}