#fact-sheet {
    box-shadow: inset 0.5rem 0 0 rgb(228, 228, 228);

    a {
        word-break: break-word;
    }
}

video {
    width: 100%;
}

img {
    width: 100%;
}

#assets {
    img {
        max-width: 100%;
    }
}