:root {
    --base-padding: 2rem;
    --article-width: calc(90ch + var(--base-padding) *2 + 4rem);
    --accent-color: #ec0047;
    --bg-color: #fafafa;
    --text-color: #222222;
    --border-color: #22222234;
    --border: 1px solid var(--border-color);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 1rem/1.5 'Source Sans 3', sans-serif;
    color: var(--text-color);
    background:
        radial-gradient(circle at 114% 40% in oklab, #eeeeee 0, transparent 40%),
        radial-gradient(circle at 60% 110% in oklab, #ffee0005 0, transparent 33%),
        radial-gradient(circle at 40% 10% in oklab, #ff7b0005 0, transparent 75%),
        linear-gradient(-22deg in oklab, #ff009515 0, #ff7b0000);
}

.page-container {
    &>img {
        display: block;
        margin: 4rem auto 0;
        width: 100%;
        max-width: var(--article-width);
        height: auto;
        object-fit: cover;

        @media (max-width: 52rem) {
            margin: 0 auto 0;
            height: auto;
        }
    }
}

article {
    margin: 1rem auto;
    padding: 0 var(--base-padding);
    width: 100%;
    max-width: var(--article-width);
}

header {
    margin: 2.5rem auto;
    width: 100%;
    max-width: var(--article-width);

    nav {
        font: 400 1.0rem/1.75 'Source Sans 3', sans-serif;
        margin: 3.5rem auto;
        padding: 0 1.5rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: start;

        a {
            text-decoration: none;
            padding: 0 0.75rem;
            color: #ffffff;
            background-color: #222222;
            border: 0.125rem solid #222222;
            box-shadow: 0.125rem 0.125rem 0 #22222249;

            &:hover {
                background: none;
                box-shadow: none;
                border: 0.125rem solid var(--accent-color);
            }
        }
    }
}

section {
    scroll-margin: 8rem;
    margin: 0 auto 2.5rem;

    @media (max-width: 48rem) {
        scroll-margin: 12rem;
    }
}

p {
    margin: 0 0 1.0rem;
}

h1 {
    font: 400 2.5rem/1.5 'Mozilla Headline', serif;
    letter-spacing: 0;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 0.5rem;
    font: 400 1.75rem/1.5 'Mozilla Headline', serif;
    letter-spacing: 0;
    border-bottom: var(--border);
}

h3 {
    letter-spacing: 0.0125em;
    font: inherit;
    font-weight: 600;
}

blockquote {
    margin: 1.75rem 0;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    color: #08787c;
    text-align: center;
}

ol,
ul {
    list-style-position: outside;
    padding-left: 1em;
}

cite {
    font: inherit;
    font-style: italic;

    &::before {
        content: "— "
    }
}

a {
    transition: all .1s ease;

    /* for safari */
    /*word-break: break-word;*/

    &:hover {
        color: var(--accent-color);
        text-decoration: none;
    }
}

#fact-sheet {
    a {
        word-break: break-word;
    }

}

video {
    width: 100%;
}

.text-content {
    width: 100%;
    gap: 4rem;

    display: grid;
    grid-template: "l r" auto / 30ch 1fr;

    .left {
        grid-area: "l";
    }

    .right {
        grid-area: "r";
    }

    @media (max-width: 70ch) {
        grid-template:
            "l" auto
            "r" auto / 1fr;
    }
}

.gallery {
    --gallery-item-min-width: 16rem;
    --img-aspect: 16/9;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--gallery-item-min-width), 1fr));
    grid-auto-rows: auto;
    grid-gap: 0.5rem;

    img {
        margin: 0;
        padding: 0;
        width: 100%;
        aspect-ratio: var(--img-aspect);
        object-fit: cover;
    }
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;

    background: #222222;
    color: #ffffff;

    a {
        padding: 0.125rem 0;
        color: inherit;
        transition: all .1s ease;

        &:hover {
            color: var(--accent-color);
            text-decoration: none;
        }
    }


    .header-container {
        margin: 0 auto;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 55rem) {
            flex-direction: column;

            a:first-child {
                border-left: none;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 2.375rem 2rem 0.875rem;
            font: 400 1.25rem/1 'Source Sans 3', sans-serif;
            letter-spacing: 0;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
                color: inherit;
            }

            @media (max-width: 55rem) {
                padding: 1rem 0.5rem 1rem;
                margin: 0 auto;
                width: 100%;
                border-bottom: var(--header-border);
            }
        }

        nav {
            max-width: 100%;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            gap: 0;

            @media (max-width: 55rem) {
                width: 100%;
            }

            a {
                padding: 2.5rem 1rem 1rem;
                border-left: var(--header-border);

                font: 400 1.0rem/1 'Source Sans 3', sans-serif;
                letter-spacing: 0.035em;
                text-decoration: none;
                text-align: center;

                @media (max-width: 55rem) {
                    /*flex: 1;*/
                    padding: 1rem 1rem 1rem;
                }
            }
        }
    }
}

footer {
    margin: 8rem auto 0;
    padding: 6rem 2rem;

    background-color: #222222;
    color: #ffffff;

    text-align: center;

    font: 400 1.0rem/1.6 'Source Sans 3', sans-serif;
    letter-spacing: 0.035rem;

    .logo {
        display: block;
        padding: 0.25rem 0.5rem;
        font: 400 1.25rem/1.4 'Source Sans 3', sans-serif;
        letter-spacing: 0;
        text-decoration: none;
        color: inherit;

        &:hover {
            color: inherit;
        }

        &::before {
            content: none;
        }
    }

    .socials {
        margin: 1.5rem auto;
        width: fit-content;

        a {
            padding: 0.25rem;
            font-size: 1.25rem;
            text-decoration: none;
        }
    }


    h2 {
        font: 400 1.0rem/1.6 'Source Sans 3', sans-serif;
        margin: 2rem auto 1.25rem;
        border: none;
    }

    a {
        color: inherit;
        font-size: 0.875rem;

        &::before {
            content: none;
        }
    }

    address {
        display: inline-block;
        font-size: 0.875rem;
        font-style: italic;
    }
}

#assets {
    img {
        max-width: 100%;
    }
}