:root {
    --text-color: #222222;
    --bg-color: #fafafa;
    --accent-color: #ec0047;
    --border-color: #22222234;
    --border: none;
    /*1px solid var(--border-color);*/
    --page-padding: 2rem;
    --base-width: calc(90ch + 2 * var(--page-padding));
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font: 400 1rem/1.5 'Source Sans 3', sans-serif;
    letter-spacing: 0.025em;
    color: var(--text-color);
    background:
        radial-gradient(circle at 114% 40% in oklab, #eeeeee 0, transparent 40%),
        radial-gradient(circle at 60% 110% in oklab, #ffee0005 0, transparent 33%),
        radial-gradient(circle at 40% 10% in oklab, #ff7b0005 0, transparent 75%),
        linear-gradient(-22deg in oklab, #ff009515 0, #ff7b0000);
}

h1 {
    font: 400 2.5rem/1.5 'Mozilla Headline', serif;
    letter-spacing: 0;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 0.5rem;
    font: 400 1.75rem/1.5 'Mozilla Headline', serif;
    letter-spacing: 0;
    border-bottom: var(--border);
}

h3 {
    letter-spacing: 0.0125em;
    font: inherit;
    font-weight: 600;
}

p {
    margin-bottom: 1rem;
}

a {
    padding: 0.125rem 0;
    color: inherit;
    transition: all .15s ease;

    &:hover {
        color: var(--accent-color);
        text-decoration: none;
    }

    &::before {
        content: "→\00a0";
    }
}

.rev {
    &::before {
        content: "←\00a0";
    }
}

section {
    scroll-margin: 6rem;
    margin: 2.5rem auto;
    padding: 0 var(--page-padding);
    width: 100%;
    max-width: var(--base-width);

    @media (max-width: 48rem) {
        scroll-margin: 7.5rem;
    }

    &:last-of-type {
        padding-bottom: 8rem;
    }
}

.socials {
    width: fit-content;

    a {
        padding: 0.25rem;
        font-size: 1.375rem;
        text-decoration: none;

        &::before {
            content: none;
        }
    }
}

#hero {
    margin: 5rem auto 2rem;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;

    background: #222222;
    color: #ffffff;

    a {
        &::before {
            content: none;
        }
    }

    .header-container {
        margin: 0 auto;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 48rem) {
            flex-direction: column;

            a:first-child {
                border-left: none;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 2.375rem 2rem 0.875rem;
            font: 400 1.25rem/1 'Source Sans 3', sans-serif;
            letter-spacing: 0;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
                color: inherit;
            }

            @media (max-width: 48rem) {
                padding: 1rem 0.5rem 1rem;
                margin: 0 auto;
                width: 100%;
                border-bottom: var(--header-border);
            }
        }

        nav {
            max-width: 100%;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            gap: 0;

            @media (max-width: 48rem) {
                width: 100%;
            }

            a {
                padding: 2.5rem 1rem 1rem;

                font: 400 1.0rem/1 'Source Sans 3', sans-serif;
                letter-spacing: 0.035em;
                text-decoration: none;
                text-align: center;

                @media (max-width: 48rem) {
                    flex: 1;
                    padding: 1rem 1rem 1rem;
                }
            }
        }
    }
}

footer {
    margin: 0 auto;
    padding: 6rem var(--page-padding);

    background-color: #222222;
    color: #ffffff;

    text-align: center;

    font: 400 1.0rem/1.6 'Source Sans 3', sans-serif;
    letter-spacing: 0.035rem;

    .logo {
        display: block;
        padding: 0.25rem 0.5rem;
        font: 400 1.25rem/1.4 'Source Sans 3', sans-serif;
        letter-spacing: 0;
        text-decoration: none;
        color: inherit;

        &:hover {
            color: inherit;
        }

        &::before {
            content: none;
        }
    }

    .socials {
        margin: 1.5rem auto;
        width: fit-content;

        a {
            padding: 0.25rem;
            font-size: 1.25rem;
            text-decoration: none;
        }
    }


    h2 {
        font: 400 1.0rem/1.6 'Source Sans 3', sans-serif;
        margin: 2rem auto 1.25rem;
        border: none;
    }

    a {
        color: inherit;
        font-size: 0.875rem;

        &::before {
            content: none;
        }
    }

    address {
        display: inline-block;
        font-size: 0.875rem;
        font-style: italic;
    }
}

.gallery {
    width: 100%;
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 0;

    img {
        margin: 0;
        padding: 0;

        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
    }
}

#promo {
    img {
        display: block;

        margin: 0;
        padding: 0;

        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .img-link {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        box-shadow: 0.125rem 0.125rem 0.5rem #00000055;
        border-radius: 2rem;
        overflow: hidden;

        &::before {
            content: none;
        }

        &:hover {
            filter: brightness(75%);
            box-shadow: 0.25rem 0.25rem 0.75rem #00000033;
        }
    }

    .cta {
        display: block;

        margin: 1rem auto;
        color: #ffffff;

        padding: 0.5rem 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
        border: 0.125rem solid transparent;
        background: var(--text-color);
        box-shadow: 0.125rem 0.125rem 0.5rem #00000055;

        text-align: center;

        border-radius: 2rem;
        gap: 0.5em;

        width: fit-content;
        /*width: 100%;*/

        &:hover {
            border: 0.125rem solid var(--accent-color);
            color: var(--accent-color);
            background: none;
            box-shadow: 0.25rem 0.25rem 0.75rem #00000033;
        }

        &::before {
            content: "";
        }

        &::after {
            content: " →";
        }
    }

}

.card-2 {
    margin: 0 auto;
    width: 100%;
    max-width: 19rem;

    display: grid;
    grid-template:
        "h" auto
        "t" minmax(16rem, auto) "cta" auto / 1fr;
    align-items: center;

    overflow: hidden;

    background: #fafafa;
    color: #222222;
    --border-color: none;

    h1,
    h2,
    h3 {
        grid-area: h;
        width: 100%;
        padding: 2.5rem;
        background: #222222;
        color: #ffffff;
        text-align: center;
    }

    .card-text {
        grid-area: t;
        padding: 2.5rem 2.5rem 4rem;
        text-align: center;

        hr {

            margin: 1.5rem 0;
        }
    }
}