:root {
    --accent-color: #ec0047;
    --accent-color-b: #9fffe2;
    --bg-color: #fafafa;
    --text-color: #222222;
    --text-color-light: #2222228a;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

body {
    width: 100%;
    font: 400 1.25rem/1.5 'Mozilla Text', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    letter-spacing: 0.033em;
}

h1 {
    margin-bottom: 1.5rem;
    font: inherit;
    font-weight: 200;
    font-size: 280%;
    line-height: 1.125;
    letter-spacing: -0.025em;
}

h2 {
    width: fit-content;
    font: inherit;
    font-weight: 700;
    font-size: 140%;
    margin-bottom: 0.5rem;

    border-top: 0.125rem solid var(--text-color);
}

h3 {
    font: inherit;
    font-weight: 700;
}

i {
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 700;

    &:hover {
        color: var(--accent-color);
    }
}

header,
section,
footer {
    width: 100%;
    max-width: 44rem;
    padding: 0 1rem;
}

header {
    margin: 4lh auto 1.5lh;
}

section {
    margin: 1.5lh auto;
}

footer {
    font: inherit;
    font-size: 80%;
    line-height: 1.33;

    color: var(--text-color-light);
    margin: 3lh auto 6lh;

    p {
        margin: 1lh 0;
    }
}

@media (max-width: 48rem) {
    header {
        margin-top: 3lh;
    }
}

@media (max-width: 30rem) {
    body {
        font-size: 1rem;
    }
}