:root {
    --text-color: #222222;
    --bg-color: #fafafa;
    --accent-color: #ec0047;
    --border-color: #22222234;
    --border: 1px solid var(--border-color);
    --base-width: 52rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font: 400 1.125rem/1.625 'Source Sans 3', sans-serif;
    letter-spacing: 0;
    color: var(--text-color);
    background: var(--bg-color);
}

h1 {
    font: 600 calc(clamp(3rem, 16cqw, 5rem))/1.3 'Mozilla Headline', sans-serif;
}

#hero h1 {
    width: fit-content;
    padding: 4rem;
    border-radius: 1.5rem;
    background-color: #222222;
    text-shadow: 0.05em 0.05em #ff00aa59;
}

h2 {
    margin-bottom: 1rem;
    font: 400 2.25rem/1.5 'Mozilla Headline', sans-serif;
    border-bottom: var(--border);
}

h3 {
    letter-spacing: 0.0125em;
    margin-bottom: 0.5rem;
    font: 400 1.5rem/1.5 'Mozilla Headline', sans-serif;

    a {
        &::before {
            content: none;
        }
    }
}

p {
    margin-bottom: 1rem;
}

b {
    font-weight: 600;
}

a {
    padding: 0.125rem 0;
    color: inherit;
    transition: all .1s ease;

    &:hover {
        color: var(--accent-color);
        text-decoration: none;
    }

    &::before {
        font-family: "Source Sans 3", sans-serif;
        content: "→\00a0";
    }
}

hr {
    all: unset;
    box-sizing: border-box;

    display: block;

    margin: 0.25rem 0;
    width: 100%;
    height: 1px;
    color: var(--border-color);
    background-color: var(--border-color);
}

section {
    scroll-margin: 4.5rem;
    margin: 0 auto;
    padding: 2rem 2rem;
    width: 100%;

    @media (max-width: 48rem) {
        scroll-margin: 6rem;
    }

    &:last-of-type {
        padding-bottom: 8rem;
    }

    &>* {
        width: 100%;
        max-width: var(--base-width);
        margin-left: auto;
        margin-right: auto;
    }
}

#hero {
    background: #10004b;
    background:
        radial-gradient(circle at 114% 40% in oklab, #464646a2 0, transparent 40%),
        radial-gradient(circle at 60% 110% in oklab, #00ff8848 0, transparent 90%),
        radial-gradient(circle at 40% 10% in oklab, #88ff0028 0, transparent 75%),
        linear-gradient(-22deg in oklab, #10004b 0, #6f00ff);

    color: #ff9784;

    hr {
        color: #ff978434;
        background-color: #ff978434;
    }
}

.tags {
    font-size: 0.875rem;
    width: fit-content;
    opacity: 0.5;
}

.hero-container {
    margin: 4.5rem auto;
    padding-top: 4.5rem;
    container-type: inline-size;

    @media (max-width: 48rem) {
        margin: 2.5rem auto;
        padding-top: 6.25rem;
    }
}

#about {
    /*background:
        radial-gradient(circle at 114% 40% in oklab, #eeeeee 0, transparent 40%),
        radial-gradient(circle at 60% 110% in oklab, #fffb0015 0, transparent 33%),
        radial-gradient(circle at 40% 10% in oklab, #b3ff0011 0, transparent 75%),
        linear-gradient(-22deg in oklab, #ff000030 0, #6f00ff00);*/

    background:
        radial-gradient(circle at 114% 40% in oklab, #eeeeee 0, transparent 40%),
        radial-gradient(circle at 60% 110% in oklab, #fbff0015 0, transparent 33%),
        radial-gradient(circle at 40% 10% in oklab, #1eff0011 0, transparent 75%),
        linear-gradient(-22deg in oklab, #00eeff30 0, #00ff5500);
}

.img-link {
    padding: 0;

    &::before {
        content: none;
    }

    &:hover {
        filter: brightness(0.75);
    }
}

.card {
    margin: 1.5rem auto;
    container-type: inline-size;

    width: 100%;
    display: grid;
    grid-template: "c i" auto / 1fr auto;
    align-items: start;
    gap: 1.5rem;

    .img-link {
        grid-area: i;
        width: 12rem;
        max-width: calc(50cqw - 1.5rem / 2);
        aspect-ratio: 1;
    }

    img {
        grid-area: i;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 1.5rem;
    }

    .card-content {
        grid-area: c;

    }

    p {
        margin-bottom: 0.5rem;
    }
}

header {
    --header-bg-color: var(--text-color);
    --header-font-color: #ffffff;
    --header-border-color: #ffffff34;
    --header-border: none;
    /*1px solid var(--header-border-color);*/
    --hover-color: var(--accent-color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--header-bg-color);
    color: var(--header-font-color);

    border-bottom: var(--header-border);
    z-index: 100;

    .header-container {
        margin: 0 auto;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 48rem) {
            flex-direction: column;

            a:first-child {
                border-left: none;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 2.375rem 2rem 0.875rem;
            font: 400 1.25rem/1 'Source Sans 3', sans-serif;
            letter-spacing: 0;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
                color: inherit;
            }

            @media (max-width: 48rem) {
                padding: 1rem 0.5rem 1rem;
                margin: 0 auto;
                width: 100%;
                border-bottom: var(--header-border);
            }
        }

        nav {
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            gap: 0;

            @media (max-width: 48rem) {
                width: 100%;
            }

            a {
                padding: 2.5rem 1.5rem 1rem;
                border-left: var(--header-border);

                font: 400 1.0rem/1 'Source Sans 3', sans-serif;
                letter-spacing: 0.035em;
                text-decoration: none;
                text-align: center;

                @media (max-width: 48rem) {
                    flex: 1;
                    padding: 1rem 0 1rem;
                }
            }
        }
    }
}

footer {
    margin: 0 auto;
    padding: 6rem 2rem;

    background-color: #222222;
    color: #ffffff;

    text-align: center;

    font: 400 1.0rem/1.6 'Source Sans 3', sans-serif;
    letter-spacing: 0.035rem;

    .logo {
        display: block;
        padding: 0.25rem 0.5rem;
        font: 400 1.25rem/1.4 'Source Sans 3', sans-serif;
        letter-spacing: 0;
        text-decoration: none;
        color: inherit;

        &:hover {
            color: inherit;
        }

        &::before {
            content: none;
        }
    }

    h2 {
        font: 400 1.0rem/1.6 'Source Sans 3', sans-serif;
        margin: 2rem auto 1.25rem;
        border: none;
    }

    a {
        font-size: 0.875rem;

        &::before {
            content: none;
        }
    }

    address {
        display: inline-block;
        font-size: 0.875rem;
        font-style: normal;
    }
}

.socials {
    margin: 1.5rem auto;
    width: fit-content;

    a {
        padding: 0.25rem;
        font-size: 1.25rem;
        text-decoration: none;
    }
}

.social-link {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    padding: 0;

    gap: 0.25rem;

    &::before {
        content: none;
    }
}