@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSans3-Regular.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SourceSans3-Semibold.ttf.woff2') format('woff2');
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overscroll-behavior: none;
}

body {
    width: 100vw;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overscroll-behavior: none;

    font-family: 'Source Sans 3', sans-serif;

    color: #222222;

    background:
        radial-gradient(circle at 10% 60% in oklab, #c9c9c97c 0, transparent 66%),
        radial-gradient(circle at 85% 40% in oklab, #c9c9c97c 0, transparent 66%),
        radial-gradient(circle at 60% 110% in oklab, #00ff73ce 0, transparent 33%),
        radial-gradient(circle at 40% 10% in oklab, #e5ff55c2 0, transparent 90%),
        radial-gradient(circle at 66% 90% in oklab, #00ffea 0, #00745c 75%);
}

.container {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 32rem;
    padding: 1.5rem;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    h2 {
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.125em;
    }
}

.card {
    container-type: inline-size;
    position: relative;

    margin: 0 auto;
    width: 100%;
    aspect-ratio: 1.0;

    text-align: center;
    letter-spacing: 0.05em;

    &[flipped="true"] .front {
        transform: rotateY(0deg);
    }

    &[flipped="true"] .back {
        transform: rotateY(180deg);
    }

    .face {
        position: absolute;
        width: 100%;
        aspect-ratio: 1.0;
        padding: 5%;
        border-radius: 2rem;
        box-shadow: 0.25rem 1rem 3rem -1rem rgba(0, 0, 0, 1);
        transition: transform 0.6s;
        backface-visibility: hidden;
    }

    .back {
        color: #ffffff;

        /*border: 0.125rem solid #ffffff;*/

        /*background: #222222;*/
        background:
            linear-gradient(145deg in oklab, #000000 0%, #333333 100%);
        transform-style: preserve-3d;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3%;

        font-size: 3.5cqw;
        font-weight: 400;
        letter-spacing: 0.125em;

        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
    }

    .front {
        transform: rotateY(180deg);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3%;

        background: #ffffff;

        transform-style: preserve-3d;

        h2 {
            margin: 0.75em 0;
            font-size: 3.5cqw;
            font-weight: 400;
            letter-spacing: 0.125em;
        }

        .artist {
            font-size: 6cqw;
            font-weight: 600;
        }

        .title {
            font-size: 6cqw;
            font-weight: 600;
        }

        .release-date {
            font-size: 16cqw;
            font-weight: 600;
        }
    }
}

.emoji {
    font-family: sans-serif;
}

button {
    all: unset;
    box-sizing: border-box;

    padding: 0.75rem 1.75rem;

    border-radius: 1.25rem;
    background-color: #222222;
    color: #ffffff;

    letter-spacing: 0.125em;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;

    box-shadow: 4px 8px 20px -5px rgba(0, 0, 0, 0.33);

    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;

    transition: all 0.2s;

    &:hover {
        background-color: #7c7c7c;
    }

    &:disabled {
        opacity: 0.0;
        cursor: auto;
    }
}

dialog {
    padding: 5rem 1.5rem;
    height: fit-content;
    border: none;
    box-shadow: 4px 8px 20px -5px rgba(0, 0, 0, 0.33);

    width: 100%;
    max-width: 38rem;

    &::backdrop {
        background-color: #111111aa;
    }

    &:not([open]) {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        text-align: center;
        letter-spacing: 0.05em;
        font-size: 1.25rem;

        h2 {
            margin: 0;
            line-height: normal;
            font-size: 2.0rem;
            font-weight: 400;
        }

        input {
            font-size: 1.0rem;
            padding: 0.75rem;
            border-radius: 1.0rem;
            width: 100%;
        }
    }
}

header {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

nav {
    button {
        display: block;
        margin: 0.5rem;
    }
}

details {
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    pointer-events: auto;

    &:open {
        width: 100%;
        height: 100%;
        background-color: #0000009a;
    }
}

summary {
    all: unset;
    box-sizing: border-box;

    display: block;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    [open] & {
        color: #ffffff;
    }

    &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%' viewBox='0 -960 960 960' width='100%' fill='%23222222'%3E%3Cpath d='M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z'/%3E%3C/svg%3E");
    }

    [open] &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%' viewBox='0 -960 960 960' width='100%' fill='%23ffffff'%3E%3Cpath d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
    }
}